{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block main %}
<div class="container-fluid" style="max-width: 450px">
  <div class="text-center" style="margin-top: 100px;">
    <h1 class="h3 mb-3 fw-normal">{{ _('Please enter your email') }}</h1>

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash_{{cat}}">{{msg}}</div>
    {% endfor %}
  </div>
  <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    <p>{{ wtf.form_field(form.email) }}</p>

    <button class="w-100 btn btn-lg btn-outline-primary" type="submit"
            style="margin-top: 20px;">
       {{ _('Continue') }}
    </button>
  </form>

  <p class="text-center mt-5 mb-3 text-muted">&copy; 2020–2021</p>

</div>
{% endblock %}