{% extends 'base.html' %}


{% block clients_menu %}
active
{% endblock %}


{% block main %}
  <div class="container-xxl">
    <div class="row" style="padding: 100px 12px 25px;">
      <h3 class="col-12 col-sm-10" style="margin-bottom: 0;">
        {{ _('Clients') }}
        {% if keyword %}
        ( {{ keyword }} )
        {% endif %}
      </h3>
      <a href="{{ url_for('users.new_client') }}"
       class="btn btn-outline-primary col col-sm-2"
       style="padding: 10px;">{{ _('Add client') }}</a>
    </div>

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash_{{cat}}">{{msg}}</div>
    {% endfor %}

    {% for client in clients %}
      <div class="row" style="margin-top: 10px;">
        <hr style="margin-bottom: 0;">
          <div class="col d-none d-sm-block" style="max-width: 128px; margin: 10px 0;">
            <form action="" method="post">
              <button name="more" type="submit" value="{{ client.id }}" class="btn btn-link"
                      style="text-decoration: none; padding: 0;">

                  <img width="100%" height="100%" src="{{ client.avatar(128) }}">

              </button>
            </form>
          </div>


        <div class="col">
          <form action="" method="post">
            <button name="more" type="submit" value="{{ client.id }}" class="btn btn-link"
                    style="font-weight: 350; font-size: 24px; text-decoration: none;
                    padding-left: 0;">
              {{ client.first_name }} {{ client.last_name }}
            </button>
          </form>
          <p>{{ client.address }}</p>
          <p>{{ client.price }}</p>
        </div>
      </div>
    {% endfor %}

  </div>
{% endblock %}