{% extends 'base.html' %}


{% block calendar_menu %}
active
{% endblock %}


{% block main %}
  <div class="container-xxl">
    <div class="row" style="padding: 100px 12px 25px;">
      <h3 class="col-12 col-sm-10" style="margin-bottom: 15px;">
        {{ _('Calendar') }}
      </h3>
    </div>

    <div class="card-group" style="margin-bottom: 25px;">
      <div class="card shadow-sm">
        <form method="post">
          <div class="card-header" style="padding: 16px;"></div>
          <div class="card-body" style="padding-top: 0;">

            {{ form.hidden_tag() }}
            {% for field in form  if field.name not in ['csrf_token', 'submit'] %}
            {{ field.label(class="card-text", style="padding: 10px;") }}
            {{ field(class="form-control me-2") }}
            {% endfor %}

          </div>
          <div class="card-footer" style="padding:0 16px 32px;" >

            <div style="padding: 16px 0 20px;">
              {% for cat, msg in get_flashed_messages(True) %}
              <div class="flash_{{cat}}">{{msg}}</div>
              {% endfor %}

              {{ form.submit(class="btn btn-outline-primary float-end") }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}